{% extends 'base.html' %}
{% load bootstrap3 %}

{% load static %}
{% load staticfiles %}

{% block styles%}
{% bootstrap_css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
    integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/index.css' %}">
{%endblock %}

{% block content %}

<style>
    .home-content{
      background-image: url(https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547__340.jpg) !important;
      background-attachment: fixed;
      width:100%;
      height: 80%;
      background-size: cover;
      background-repeat: no-repeat;
      height: 70vh;
      position: relative;
      margin-top: 30px;
      margin-bottom: 30px;
  }
</style>
<div class="container-fluid home-content" >
    <!-- <h5 style="color:#0e0c0d">Site of the day {{date|date:"l d-F Y"}}</h5>
    <br>
    <a href="#" class="btn btn-outline-danger" style="color:rgb(8, 5, 5);">Visit Site</a>
    <a href="#" class="btn btn-outline-danger" style="color:rgb(5, 5, 5);">Interact</a>
    <a href="#" class="btn btn-outline-danger" style="color:rgb(7, 3, 3);">Collect</a> -->
    <section class="sect">
        <div>
            <div class="box-piesite">
                <ul> 
                    <li class="design">
                        <div class="piesite" id="pie_0" data-pie="2.04"></div>
                        <br>
                        <p style="color:red;font-size: 12px;">DESIGN</p>
                    </li>
                    <li class="usability">
                        <div class="piesite" id="pie_2" data-pie="5.02"></div>
                        <br>
                        <p style="color:yellow;font-size: 12px;">USABILITY</p>
                    </li>

                    <li class="creativity">
                        <div class="piesite" id="pie_1" data-pie="2.04"></div>
                        <br>
                        <p style="color:green;font-size: 12px;">CREATIVITY</p>
                    </li>
                    <li class="total">
                        <div class="piesite" id="pie_3" data-pie="9.10"></div>
                        <br>
                        <p style="color:black;font-size: 12px;">TOTAL</p>
                    </li>
                </ul>
            </div>
        </div>

    </section>

<div class="container headers">
    <h4 style="float:left;"><span class="bold">TODAY'S PROJECTS</span> </h4>

</div>
<div class="pages">
    <div class="row">
        {% for project in projects %}
        <div class="col-6"><div class="pages">
            <div class="row">
                {% for project in projects %}
                <div class="col-6">
                    <div class="card" style="width: 40.2rem;">
                        <img class="card-img-top img-responsive" src="{{project.screenshot1.url}}" alt="Card image cap"
                            responsive>
                        <div class="card-body">
                            <a href="/site/{{project.id}}" style="color:black;text-decoration:none;">
                                <h5 class="card-title" style="line-height:28px;">{{project.title}}</h5>
                            </a>
                            <p class="card-text">From {{project.country}}<span class="date">{{project.post_date}}</span></p>
                        </div>
                        <div class="card-footer ">
                            <div class="user-image">
                                <img src="{{project.username.avatar.url}}" class="gallery-image" alt="" width=8 height=8>
                                <a href="/user/{{project.username}}" style="color:black;text-decoration:none;margin:auto;">
                                    <p
                                        style="font-size: 13px; font-weight: lighter;margin:auto; padding:2px;text-transform: uppercase;">
                                        {{project.username}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
            <div class="card" style="width: 40.2rem;">
                <img class="card-img-top img-responsive" src="{{project.screenshot1.url}}" alt="Card image cap"
                    responsive>
                <div class="card-body">
                    <a href="/site/{{project.id}}" style="color:black;text-decoration:none;">
                        <h5 class="card-title" style="line-height:28px;">{{project.title}}</h5>
                    </a>
                    <p class="card-text">From {{project.country}}<span class="date">{{project.post_date}}</span></p>
                </div>
                <div class="card-footer ">
                    <div class="user-image">
                        <img src="{{project.username.avatar.url}}" class="gallery-image" alt="" width=8 height=8>
                        <a href="/user/{{project.username}}" style="color:black;text-decoration:none;margin:auto;">
                            <p
                                style="font-size: 13px; font-weight: lighter;margin:auto; padding:2px;text-transform: uppercase;">
                                {{project.username}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="container headers">
    <h4><span class="bold">  <span><i class="glyphicon glyphicon-heart" style="color:#49c5b6"></i></span></span>
        made with love !</h4>
</div>

<div class="pages">
    <div class="row">
        {% for resource in resources %}
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card" style="width: 40.2rem;">
                <img class="card-img-top img-responsive" src="{{resource.landing_page.url}}" alt="Card image cap"
                    responsive>
                <div class="card-body">
                    <a href="/site/{{resource.id}}" style="color:black;text-decoration:none;">
                        <h5 class="card-title" style="line-height:28px;">{{resource.title}}</h5>
                    </a>
                    <p class="card-text">From {{resource.country}}<span class="date">{{resource.post_date}}</span></p>
                </div>
                <div class="card-footer ">
                    <div class="user-image">
                        <img src="{{resource.avatar.url}}" class="gallery-image" alt="" width=8 height=8>
                        <a href="/user/{{resource.username}}" style="color:black;text-decoration:none;margin:auto;">
                            <p
                                style="font-size: 13px; font-weight: lighter;margin:auto; padding:2px;text-transform: uppercase;">
                                {{resource.username}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<div class="pages">
    <div class="row">
        {% for resource in resources2 %}
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card" style="width: 40.2rem;">
                <img class="card-img-top img-responsive" src="{{resource.landing_page.url}}" alt="Card image cap"
                    responsive>
                <div class="card-body">
                    <a href="/site/{{resource.id}}" style="color:black;text-decoration:none;">
                        <h5 class="card-title" style="line-height:28px;">{{resource.title}}</h5>
                    </a>
                    <p class="card-text">From {{resource.country}}<span class="date">{{resource.post_date}}</span></p>
                </div>
                <div class="card-footer ">
                    <div class="user-image">
                        <img src="{{resource.avatar.url}}" class="gallery-image" alt="" width=8 height=8>
                        <a href="/user/{{resource.username}}" style="color:black;text-decoration:none;margin:auto;">
                            <p
                                style="font-size: 13px; font-weight: lighter;margin:auto; padding:2px;text-transform: uppercase;">
                                {{resource.username}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.1.3/circle-progress.min.js"></script>

<script>

    /* *how to work the caraousel from https://kottenator.github.io/jquery-circle-progress/ */

    var progressBarOptions = {
        startAngle: -1.55,
        size: 100,
        value: {{ caraousel.design }},
    fill: {
        color: 'Chocolate'
    }
}

    $('.circle').circleProgress(progressBarOptions).on('circle-animation-progress', function (event, progress, stepValue) {
        $(this).find('strong').text(String((stepValue / 10).toFixed(2)));
    });

    $('#circle-b').circleProgress({
        value: {{ caraousel.usability }},
        fill: {
            color: 'Khaki'
        }
});

    $('#circle-c').circleProgress({
        value: {{ caraousel.creativity }},
        fill: {
            color: 'DarkTurquoise'
        }
});
    $('#circle-d').circleProgress({
        value: {{ caraousel.content }},
        fill: {
            color: 'SteelBlue'
        }
});


</script>


{% endblock %}
